@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nova Square', sans-serif;
}

body {
    background: linear-gradient(to bottom right, #73c5ea, #01c8e9, #d98ae3, #d56b89);
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: white;
    width: min(600px, 90%);
    height: auto;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 3em;
    border-radius: 0.5em;
    text-align: center;
    overflow: scroll;
}

button {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    margin: 2em 0 1em 0;
    border-radius: 0.3em;
    cursor: pointer;
}

#buttons button:not(:last-child) {
    margin-right: 10px;
}

#total {
    background-color: #d98ae3;
    padding: 1em 0.5em;
    width: 100%;
}

img {
    width: 50px;
    height: auto;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

img:hover {
    transform: scale(1.1) rotate(10deg);
    filter: drop-shadow(0 0 7px rgba(0, 0, 0, 0.6));
}

.highlight-btn {
    transition: transform 0.25s ease;
    transform: scale(1.2);
    filter: drop-shadow(0 0 7px rgba(0, 0, 0, 0.7));
} 

p#result {
    font-size: 1.2em;
}